/*
 * Title:   Travelo | Responsive HTML5 Travel Template - Basic Style
 * Author:  http://themeforest.net/user/soaptheme
 */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1) Reset
2) Heading
3) Lists
4) Contents
5) Table
6) HTML5 & CSS3 Styles for older browsers
7) Tools
8) Colors

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@import 'variables';

/* 1) Reset */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    zoom: 1;
}
html { font-size: 16px; min-height: 100%; }
body { font:75%/150% $font-stack; background-color: #fff; color:$primary-color; overflow-x: hidden; -webkit-font-smoothing: antialiased; -ms-overflow-style: scrollbar; oveflow-y: scroll; }

iframe, img { border:0; }

a { text-decoration: none; color: inherit; }
a:hover, a:focus { color: $skin-active-color; text-decoration: none; }
a:focus { outline: none; }

p { font-size: 1.0833em; line-height: 1.6666; margin-bottom: 15px; }
dt { font-weight: normal; }

span.active, a.active, h2.active, h3.active, h4.active, h5.active, h6.active { color: $skin-active-color; }
.info-primary, .info-success { color: #fff; padding: 2px 5px; line-height: 1em; } 
.info-success { background: $green-theme-color; }
.info-primary { background: $heading-color; }



/* 2) Heading */
h1, h2, h3, h4, h5, h6 { margin:0 0 15px; font-weight:normal; color: $heading-color; }
h1 { font-size: 2em; line-height:1.25em; /*24px, 30px*/ }
h2 { font-size: 1.6667em;      line-height:1.25em; /*20px, 35px*/ }
h3 { font-size: 1.5em; line-height:1.2222em; /*18px, 22px*/ }
h4 { font-size: 1.3333em; line-height:1.25em; /*16px, 20px*/ }
h5 { font-size: 1.1666em; line-height:1.1428em; /*14px, 16px*/ }
h6 { font-size: 1em; }

h1.fourty-space { font-size: 1.3333em; line-height: 1.25em; letter-spacing: .04em; }
h2.fourty-space { font-size: 1.1666em; line-height: 1.1428em; letter-spacing: .04em; }
h3.fourty-space { font-size: 1.0833em; line-height: 1.1428em; letter-spacing: .04em; }
h4.fourty-space { font-size: 1em; line-height: 1.1em; letter-spacing: .04em; }
h5.fourty-space { font-size: 0.9166; line-height: 1.1em; letter-spacing: .04em; }
h6.fourty-space { font-size: 0.8333em; line-height: 1.1em; letter-spacing: .04em; }

/* 3) Lists */
ol, ul { list-style: none; margin: 0; }

/* 4) Contents */
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,  q:before, q:after {
    content: ''; content: none;
}
hr { margin-top: 20px; margin-bottom: 20px; border-color: #f5f5f5; }

/* 5) Table */
table { border-collapse: collapse; border-spacing: 0; }


/* 6) HTML5 & CSS3 Styles for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display:block; }

/* 7) Tools */
.clearer { clear: both !important; padding: 0 !important; margin: 0 !important; }
.hidden { display: block !important; border: 0 !important; margin: 0 !important; padding: 0 !important; font-size:0 !important; line-height:0 !important; width: 0 !important; height:0 !important; overflow: hidden !important; }
.nobr { white-space: nowrap !important; }
.wrap { white-space: normal !important; }
.no-display { display: none; }
.no-float { float: none !important; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.no-lpadding { padding-left: 0 !important; }
.no-rpadding { padding-right: 0 !important; }
.no-border { border: none !important; }
.full-width { width: 100% !important; }
img.full-width { height: auto; }
.uppercase { text-transform: uppercase; }
.fourty-space { letter-spacing: .04em !important; }
.underline { text-decoration: underline !important; }
.inline-block { display: inline-block !important; }
.visible-sms { display: none; } // for max 480 width screen
.overflow-hidden { overflow: hidden; }
.no-letter-spacing { letter-spacing: normal !important; }

/* 8) Colors */
.blue-color { color: $blue-theme-color !important; }
.light-blue-color { color: #7692b4; }
.yellow-color { color: $yellow-theme-color !important; }
.red-color { color: $red-theme-color !important; }
.green-color { color: /*$green-theme-color*/#880000 !important; }
.white-color { color: #fff !important; }
.dark-blue-color { color: $dark-blue-theme-color !important; }
.skin-color { color: $skin-active-color; }
.default-color { color: inherit !important; }
.gray-color { color: #9e9e9e !important; }

.hotel-color { color: $skin-active-color; }
.select-color { color: $skin-select-color; }

.blue-bg { background-color: $blue-theme-color !important; }
.yellow-bg { background-color: $yellow-theme-color !important; }
.red-bg { background-color: $red-theme-color !important; }
.green-bg { background-color: $green-theme-color !important; }
.white-bg { background-color: #fff !important; }
.dark-blue-bg { background-color: $dark-blue-theme-color !important; }
.skin-bg { background-color: $skin-bg-color !important; }
.gray-bg { background-color: #f5f5f5 !important; }